.section-1{
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #59B4D0;
    border-radius: 10px;
    margin-top: 100px;
}
.section-1-text{
    text-align: center;
    max-width: 800px;
    color: #FAFAFA;
    font-family: initial;
    padding: 0px 30px 0px 30px;
}
.section-1-div-texto{
    margin-left: 40px;
}
.borda-2{
    width: 10px;
    height: 100%;
    margin-left: 10px;
    background-color: #59B4D0;
    position: absolute;
    left: 5px;
}
.caixa-white-transparente{
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    position: relative;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    font-family: initial;
}
.section-1-organizar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
}

.section-2{
    width: 100%;
    margin: 100px 0px;
    font-family: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo{
    margin-bottom: 100px;
}
.section-2-organizar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.caixa-blue-grande{
    padding: 10px;
    border-radius: 10px;
    max-width: 700px;
    position: relative;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #59B4D0;
    color: #FAFAFA;
}
.borda{
    width: 10px;
    height: 100%;
    margin-left: 10px;
    background-color: #FAFAFA;
    position: absolute;
    left: 0px;
}
.borda-2{
    width: 10px;
    height: 100%;
    background-color: #FAFAFA;
}
.pessoa-img{
    width: 250px;
    height: 250px;
    margin-left: 10px;
}
.section-2-div-texto{
    max-width: 410px;
    margin-left: 10px;
}
.caixa-blue-pequena{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    position: relative;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #59B4D0;
    color: #FAFAFA;
}
.caixa-blue-pequena h1{
    margin: 0px 0px 18px 0px;
}
.div-contato{
    display: flex;
    flex-direction: row;
    width: 220px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: #FAFAFA;
    text-decoration: none;
    margin: -15px;
}