.alimentacao-section-1{
    padding: 100px 20px 100px 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #59B4D0;
    border-radius: 10px;
    color: #FAFAFA;
}
.alimentacao-section-1-text{
    text-align: center;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    padding: 0px 30px 60px 30px;
}
.alimentacao-section-1-inform{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
.alimentacao-img-grande{
    margin: 0px 50px 60px 50px;
    max-width: 400px;
}
.alimentacao-section-1-organizar{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;  
}
.alimentacao-section-1-organizar-atributo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.alimentacao-section-1-organizar-atributo img{
    margin-right: 10px;
}
.alimentacao-section-1 button{
    margin-top: 30px;
}


.alimentacao-section-2{
    padding: 100px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alimentacao-section-2-organizar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: "Poppins", sans-serif;
}
.alimentacao-section-2-text{
    max-width: 550px;
    margin-bottom: 30px;
}
.alimentacao-section-2-text p{
    width: 450px;
    margin-bottom: 30px;
}
.alimentacao-section-2 span{
    color: #59B4D0;
    font-weight: bolder;
}
.alimentacao-section-2 img{
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
}
.alimentacao-section-2-card{
    max-width: 550px;
    height: 410px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    background-image: url('../public/Section.svg');
    position: relative;
    display: flex;
    align-items: end;
    color: #FAFAFA;
}
.alimentacao-borda-2-pequena{
    width: 90px;
    height: 20px;
    background-color: #59B4D0;
    position: absolute;
    right: 0px;
    top: 20px;
}
.alimentacao-section-2-card-text{
    margin: 38px;
}
.alimentacao-section-2-card-text a{
    text-decoration: none;
    color: #59B4D0;
}
@media screen and (max-width: 600px){
    .alimentacao-section-2-text{
        width: 300px;
    }
    .alimentacao-section-2-text p{
        width: 300px;
    }
}