.singin-section{
    width: 100%;
    height: 80vh;
    background-image: url('../public/1-img-singin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center; color: #FAFAFA;
    margin-bottom: 450px;
}
.singin-borda{
    width: 10px;
    height: 100%;
    margin-left: 10px;
    background-color: #FAFAFA;
    position: absolute;
    left: 0px;
}
.singin-caixa-blue{
    padding: 100px 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    margin: 0px 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #59B4D0;
    font-family: "Poppins", sans-serif;
    bottom: -350px;
}
.singin-section-1-div-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.singin-section-1-div-texto input{
    border: none;
    margin: 20px;
    width: 100%;
    color: #59B4D0;
    padding: 10px 10px;
    border-radius: 10px;
}
.singin-a{
    color: #FAFAFA;
    text-decoration: none;
    margin-bottom: 20px;
}
span{
    font-weight: bolder;
    font-size: large;
}